body {
  background-color: #121212;
  color: white;
}

.feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.musicCard {
  background-color: #181818;
  padding: 15px;
  border-radius: 12px;
  transition: 0.2s;
}

.musicCard:hover {
  transform: scale(1.03);
  background-color: #202020;
}

.musicCard h3 {
  color: white;
}

.musicCard p {
  color: #b3b3b3;
  font-size: 14px;
}